requirements.txt

#langchain Core
langchain
langchain-core

#OpenAi Integration
langchain-openai
openai

#Anthropic Integration
langchain-anthropic

#google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

#hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

#Environment variable Management
python-dotenv

#Machine learning
numpy
scikit-learn
